<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/clock.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    <script type="text/javascript" src="{% static 'js/clock.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hodiny | Střela &amp; Vlna</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <script type="text/javascript">
        var soutez_start = new Date("{{ soutez.zahajena.isoformat }}");
        var soutez_len = {{ soutez.delkam }};
    </script>
</head>

<body class="d-flex flex-column min-wh-100">
    <nav class="navbar navbar-expand-sm bg-purple navbar-dark" style="font-size:20px">
        <a class="navbar-brand" href="{% url "index_souteze" %}">
            <img src="/static/img/Logo-pruhledne-60px.png"  alt="Strela Vlna">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item {% if request.path == index_souteze %} active {% endif %}" >
                 <a class="nav-link" href="{% url "index_souteze" %}">Hlavní stránka</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        {% bootstrap_messages %}

        <h1 style="text-align: center;">{{ soutez.pretty_name }}</h1>

        <!--<div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Hodiny</h4>
            <div class="mb-0">
                Nechce se mi to teď implementovat...
            </div>
        </div>-->

        <div class="clock">
            <!--https://dev.to/code_mystery/simple-analog-clock-using-html-css-javascript-2c6a-->
            <!--https://www.w3schools.com/howto/howto_js_countdown.asp-->
            <div class="outer-clock-face">
                <div class="marking marking-one"></div>
                <div class="marking marking-two"></div>
                <div class="marking marking-three"></div>
                <div class="marking marking-four"></div>
                <div class="inner-clock-face">
                    <div class="hand hour-hand"></div>
                    <div class="hand min-hand"></div>
                    <div class="hand second-hand"></div>
                </div>
            </div>
        </div>

        <div class="timer w-50 mx-auto"></div>

        {% if soutez.prezencni == 'P' %}<button id="startbtn" type="button" class="btn btn-success" onclick="startSoutez();">Zahájit soutěž</button>{% endif %}
    </div>

    <footer class="mt-auto">
        <div class="row ml-3">
            <div class="col">
                <h4>Kde nás najdete?</h4>
                <a href="https://www.gchd.cz">Gymnázium Christiana Dopplera</a><br>
                Zborovská 45, Praha 5 - Malá Strana<br>
                150 00<br>
                Kontaktní email: <b><a href="mailto:strela-vlna@gchd.cz">strela-vlna@gchd.cz</a></b><br>
            </div>
            <div class="col">
                <h4>Doprava MHD</h4>
                Tramvajová zastávka <b>Újezd</b> (tramvaje 9, 12, 15, 20, 22) <br>
                Metro B - <b>Národní třída</b> a poté tramvají 9 nebo 22 <br>
            </div>
        </div>
        <div class="row ml-3">
            <div class="col text-center">
                Copyright &copy; 2021 Střela &amp; Vlna Verze {{ strela_verze }}&nbsp;&nbsp;<b>Filip Bitzan</b>&nbsp;&nbsp;All rights reserved.
            </div>
        </div>
    </footer>
</body>
</html>