/.vscode
/db.sqlite3
/filip.ppk
/filip.pkey
/priklady
/requirements.txt
/soutez.log
/soutez/__pycache__
/strela/__pycache__
/static
/strela/management/commands/__pycache__
/strela/migrations
/hesla.txt
/strela/hesla.txt
/fixtures
/skripty
/soutez/settings_internal.py
/soutez/wsgi.py
/media