{% extends "soutez_hra_base.html" %}
{% block title %}Můj tým{% endblock %}

{% block extrajs %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.2"></script>
    {% include 'latexify/stylesheets.html' %}
    <script type="text/javascript">
    function makeRowClickable() {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    }

    htmx.on("#innerdata", "htmx:afterSettle", function(evt) {
        var dt = $("#datatable_otazky").DataTable({
            stateSave: true
        });
        makeRowClickable();
        dt.on('draw.dt', makeRowClickable);
    });
    </script>
    <style>
        .cenik_table > th {
            padding-left: 15px;
            padding-right: 15px
        }

        .cenik_table > td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    {% load bootstrap4 %}
    {% load latexify %}
    <div class="container" style="margin-left: -20px" id="innerdata" hx-get="{% url "hra_index_jsapi" %}" hx-trigger="load, every 20s"></div>

    <div class="modal fade" id="modalCenik" tabindex="-1" role="dialog" aria-labelledby="modalCenikLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenikLabel">Ceník</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr class="cenik_table">
                            <th>Obtížnost</th>
                            <th>Nákup</th>
                            <th>Zisk</th>
                            <th>Bazar</th>
                        </tr>
                        {% for o, c in cenik %}
                        <tr style="background-color: {% if forloop.counter|divisibleby:2 %} lightgray {% else %} white {% endif %}" class="cenik_table">
                            <td>{{o}}</td>
                            {% for v in c %}
                            <td>{{v}} DC<span class="equalsignshift">=</span></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                </div>
            </div>
        </div>
    </div>

   {% include "latexify/scripts.html" %}
{% endblock %}