{% extends "soutez_base.html" %}
{% block title %} Pravidla soutěže {% endblock %}

{% block content %}
{% load bootstrap4 %}

 <div class="title2"> 
  <h2>Jak probíhá soutěž?</h2>
</div> 
  <ul>
      <li><p>V roce 2020 bude soutěž probíhat distanční formou pomocí soutěžního systému o kterém budou přihlášené týmy podrobně informovány emailem. Ke komunikaci během soutěže bude využita platforma Discord.</li> 
      <li><p>Na začátku dostane každý tým určitý obnos DopplerCoinů, za které si bude moci kupovat úlohy. K tomu bude sloužit Obchod, kde budou v nabídce úlohy z různých tématických okruhů a s různou obtížností.</li> 
      <li><p>Za správně vyřešenou úlohu získá tým bonusový počet DopplerCoinů.</li>
      <li><p>Pokud tým nedokáže úlohu vyřešit, může ji prodat v Bazaru, avšak za polovinu kupní ceny.<!--Zde si pak tuto úlohu může koupit jiný tým, opět za polovinu původní ceny, avšak už ji nelze do Bazaru vrátit.--></li>
      <li><p>Po vypršení časového limitu vítězí tým s největším počtem DopplerCoinů. </p> </li>
  </ul>
  
  <div class="title2"> 
  <h2>Kdo může soutěžit?</h2>
  </div>
  <p>Každé soutěžní družstvo se skládá z pěti členů. Každý člen musí chodit do 8. nebo 9. třídy základní školy. <br>
  <li>Žáci mohou být libovolným způsobem namícháni.</li></p> 
  <div class="title2"> 
  <h2>Jak dlouho se soutěží?</h2>
  </div>
  <!--<p>Soutěž potrvá dvě hodiny třicet minut.-->
  <p>Soutěž potrvá dvě hodiny.</p>
  <div class="title2"> 
  <h2>Jaké jsou povolené pomůcky?</h2>
  </div>
  <!--<p>Soutěžící mohou používat fyzikální tabulky (doporučeny), pomocné papíry, rýsovací potřeby a kalkulačky (bez grafického zobrazení).-->
  <p>
    <ul>
        <li>Každý tým bude potřebovat jeden počítač a připojením k internetu.</li>
        <li>Pro lepší komunikaci doporučujeme mít počítač s mikrofonem, ten ale není nutný. </li>
        <li>Soutěžící mohou používat fyzikální tabulky (doporučeny).</li>
        <li>Budou se hodit pomocné papíry, rýsovací potřeby a kalkulačky (bez grafického zobrazení).</li>
        <li>Vše ostatní je zakázáno.</li> 
    </ul>
  </p> 
  <div class="title2"> 
  <h2>Informace pro učitele</h2>
  </div> 
  <!--<p>Registrace probíhá od 8:15 do 8:45 konec je očekáván okolo 12 hodiny.-->
  <p> Akce začíná v 9:30 připojením na komunikační kanál.<br>
  V 9:45 bude potřeba aby byly všechny týmy připojeny a proběhne informační přednáška, kde vysvětlíme soutěžní systém a zodpovíme akutní dotazy.<br>
  V 10:00 začne dvouhodinová soutěž, která potrvá do 12:00. <br>
  Do 12:30 budou týmy informovány o výsledcích soutěže.<br>
  </p>
  <p>Další Potřebné informace budou zaslány na mail, který týmy uvedou při registraci.<br>
  Proto prosíme vyučující, aby informovali své žáky o všem, co jim od našeho organizačního týmu přijde mailem<br>
  Také bychom uvítali, aby každý tým věděl, pod jakým jménem byl registrován. Bude to důležité pro hladký průběh soutěže.<br>
  <p> 
{% endblock %}