{% extends "soutez_base.html" %}
{% block title %} Výsledky soutěží {% endblock %}

{% block content %}
{% load bootstrap4 %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Soutěž</th>
      <th scope="col">Zaměření</th>
      <th scope="col">Počet přihlášených týmů</th>
    </tr>
  </thead>
  <tbody>
    {% for s in soutez_list %}
    <tr class="clickable-row" data-href="{% url 'vysledek-detail' s.pk %}" style="cursor: pointer;">
        <td>{{ s.nazev }} {{ s.rok }} ({{ s.get_prezencni_display }})</td>   
        <td>{{ s.zamereni }} </td>   
        <td>{{ s.souteze.count }}
    </tr> 
       {% empty %}
       <tr><td colspan=3 class="text-center">Žádné soutěže k zobrazení</td></tr>
       {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>


<ul class="pagination pagination-sm">
    {% if page_obj.number > 1 %}
        <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#"><<</a></li>
    {% endif %}

    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#"><</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    {% endif %}    

    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">></a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
    {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">></a></li>
        <li class="page-item disabled"><a class="page-link" href="#">>></a></li>
    {% endif %}
</ul>
{% endblock %}
{% block registrace %} {% endblock %}