{% extends 'soutez_hra_base.html' %}
{% block title %}Seznam konverzací týmu{% endblock %}

{% block extrajs %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script language="javascript">
    function refreshpage() {
        $.ajax({
            url: "{% url 'convo_list' %}",
            success: function(data) {
                $("#innerdata").html(data);

                var dt = $("#chat_list_table").DataTable({
                    stateSave: true,
                    "autoWidth": false,
                    "order": [[ 1, "asc" ]]
                });

                makeRowClickable();
                dt.on('draw.dt', makeRowClickable);
            }
        });
    }

    function makeRowClickable() {
        $(".clickable-row").click(function() {
            window.location = "{% url 'tym_chat_list' %}" + $(this).data("href");
        });
    }

    $(document).ready(function() {
        refreshpage();
        setInterval("refreshpage()", 20000);
    });
</script>
{% endblock %}

{% block content %}
<div class="row mb-4">
    <form method="post" action="{% url 'tym_chat_list' %}" autocomplete="off">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="b-kontaktovat">Kontaktovat technickou podporu</button>
    </form>
</div>

<div class="row">
    <div class="w-100" id="innerdata"></div>
</div>
{% endblock %}