{% extends "admin_base.html" %}
{% block title %}Kontrola odpovědi týmu{% endblock %}

{% block extrajs %}{% include 'latexify/stylesheets.html' %}{% endblock %}

{% block content %}
{% load bootstrap4 %}
{% load latexify %}

<div class="card bg-light" style="width:600px">
    <div class="card-header bg-info font-weight-bold">
        Otázka {{ object.otazka.cisloVSoutezi }} ({{ object.otazka.otazka.get_typ_display }}) - {{ object.otazka.otazka.get_obtiznost_display.lower }} [{{ object.otazka.otazka.pk }}]
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #00000006">{% latexify object.otazka.otazka.zadani|escape parse_math=True %}</li>
        {% if img_url %}
            <li class="list-group-item" style="background-color: #00000006">
                <div class="text-center">
                    <img width="50%" src="{{ img_url }}" />
                </div>
            </li>
        {% endif %}
        <li class="list-group-item"><span style="color: #ff00ff">Správné řešení: </span>{{ object.otazka.otazka.reseni|escape }}</li>
        <li class="list-group-item"><span style="color: #ff00ff">Odpověď týmu: </span>{{ object.odpoved|escape }}</li>
    </ul> 
    <div class="card-footer">
    <form method="post" action="{% url 'kontola_odpovedi_detail' object.pk %}">
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-success" name="b-spravne">Správná odpověď</button>
            <button type="submit" class="btn btn-danger" name="b-spatne">Špatná odpověď</button>
            <button type="submit" class="btn btn-secondary" name="b-podpora">Odeslat an technickou podporu</button>
        {% endbuttons %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkChybnaOtazka" name="chybnaotazka">
            <label class="form-check-label" for="checkChybnaOtazka">
                Chybně zadaná otázka
            </label>
        </div>
    </form>
    </div>  
</div>    
{% include "latexify/scripts.html" %}
{% endblock %}