{% extends "admin_base.html" %}

{% block extrajs %}
{{ form.media }}
<script>
  //$(".tox-promotion-link").remove(); // otravne tlacitko na placenou verzi
  //setTimeout($(".tox-promotion-link").remove, 5000)
</script>
<script src="/static/js/TinyMCE_addons.js"></script>
{% endblock %}

{% block title %}Odeslání emailu týmům{% endblock %}
{% block content %}
{% load bootstrap4 %}
<form method="post" action="{% url 'admin_email_info' 1%}" autocomplete="off">
{% csrf_token %}
<div class="card bg-light">
  <div class="card-header bg-info font-weight-bold">
    Text informačního emailu
  </div>
  <div class="card-body">
    {% bootstrap_form form %}
  </div>  
  <div class="card-footer">
    {% buttons %}
      <button type="submit" class="btn btn-primary" name="b-send">Odeslat email</button>
    {% endbuttons %}
  </div>  
</div>    
</form>

{% endblock %}