{% extends "admin_base.html" %}
{% block title %} Detail Soutěže {% endblock %}

{% block content %}
{% load bootstrap4 %}

<div class="row mb-3">  
    <h2> Soutěž : <span class="font-weight-bold">{{ soutez }}</span> - {{soutez.nazev}} </h2>
</div>

<div class="row">
    {% if soutez_valid %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <b><u>Ruční přiřazení peněz týmům</u></b>
        <br>&nbsp;
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Uložit</button>
        {% endbuttons %}  
    </form>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Tuto soutěž už není možné upravit</h4>
        <p>Tato soutěž proběhla již dávno, takže ji nelze upravovat výsledky.</p>
    </div>
    {% endif %}
</div> 

{% endblock %}