<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}{% endblock %} | Střela &amp; Vlna</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block extrajs %}{% endblock %}
</head>

<body class="d-flex flex-column min-wh-100">   
    {% url "index_souteze" as index_souteze %}
    {% url "registrace_souteze" as registrace_souteze %}
    {% url "pravidla" as pravidla %}
    {% url "vysledky" as vysledky %}
    <nav class="navbar navbar-expand-sm bg-purple navbar-dark" style="font-size:20px">
        <a class="navbar-brand" href="{% url "index_souteze" %}">
            <img src="/static/img/Logo-pruhledne-60px.png"  alt="Strela Vlna">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item {% if request.path == index_souteze %} active {% endif %}" >
                 <a class="nav-link" href="{% url "index_souteze" %}">Hlavní stránka</a>
            </li>
            {% if registrace %}
             <li class="nav-item {% if request.path == registrace_souteze %} active {% endif %}">
                <a class="nav-link" href="{% url "registrace_souteze" %}">Registrace</a>
                {% else %}
                <a class="nav-link disabled" href="{% url "registrace_souteze" %}">Registrace</a>
                {% endif %}    
            </li>    
            <li class="nav-item {% if request.path == pravidla %} active {% endif %}">
                <a class="nav-link" href={% url 'pravidla' %}>Pravidla</a>
            </li>   
            <li class="nav-item {% if 'vysledky' in request.path %} active {% endif %}">
                <a class="nav-link" href={% url 'vysledky' %}>Výsledky</a>
            </li>   
            <li class="nav-item">
                {% if is_aktivni_soutez %}
                    <a class="nav-link" href={% url "herni_server" %}>Herní server</a>
                {% else %}
                    <a class="nav-link disabled" href="#">Herní server</a>
                {% endif %}
            </li>   
        </ul>     
    </nav>

    <div class="content">
        {% bootstrap_messages %}
        {% block content %} {% endblock %}

        {% block registrace %}
        <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Registrace do soutěží</h4>
            {% if soutez %}
                {% for r in soutez %}
                {% if r.registrace %}
                        <div class="mb-0">
                                Registrace do soutěže <b> {{ r.pretty_name }} </b>pro rok {{ r.rok }} probíhá od {{ r.regod }} do {{ r.regdo }}
                                {% if not r.is_soutez_full %}
                                    <a href={% url "registrace_souteze" %}>online </a>
                                {% endif %}
                        </div>
                {% else %}
                        <div class="mb-0">
                                Registrace do soutěže <b> {{ r.pretty_name }} </b> pro rok {{ r.rok }} již byla ukončena.
                        </div>
                {% endif %}
                {% endfor %}
            {% else %}
                <div class="mb-0">
                                Registrace do soutěží pro letošní rok ještě nebyla založena.
                </div>
            {% endif %}        
        </div>    
    {% endblock %}
    </div>

    <footer class="mt-auto">
        <div class="row ml-3">
            <div class="col">
                <h4>Kde nás najdete?</h4>
                <a href="https://www.gchd.cz">Gymnázium Christiana Dopplera</a><br>
                Zborovská 45, Praha 5 - Malá Strana<br>
                150 00<br>
                Kontaktní email: <b><a href="mailto:strela-vlna@gchd.cz">strela-vlna@gchd.cz</a></b><br>
            </div>    
            <div class="col">     
                <h4>Doprava MHD</h4>
                Tramvajová zastávka <b>Újezd</b> (tramvaje 9, 12, 15, 20, 22) <br> 
                Metro B - <b>Národní třída</b> a poté tramvají 9 nebo 22 <br>
            </div>
        </div>  
        <div class="row ml-3">
            <div class="col text-center">
                Copyright &copy; 2021 Střela & Vlna Verze 1.0&nbsp;&nbsp;<b>Filip Bitzan</b>&nbsp;&nbsp;All rights reserved.
            </div>
        </div>
    </footer>
</body>
</html>